{
  "$schema": "http://json.schemastore.org/swcrc",
  "exclude": [
    "./*\\.test\\.ts$"
  ],
  "jsc": {
    "baseUrl": ".",
    "paths": {
      "@": [
        "./src/main"
      ],
      "@/*": [
        "./src/*"
      ]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    }
  }
}
